<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose Your Avatar</title>
</head>
<body>
  <h1>Choose Your Image</h1>
  <form
      enctype="multipart/form-data"
      action="/upload"
      method="POST"
    >
      <input type="file" name="myFile" />
      <div class="clearfix">
        <button type="submit" class="submit">Submit</button>
         </div>
    </form>
</body>
</html>