<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose Your Avatar</title>
</head>
<body>
    <form action="/"  method="POST" style="border:1px solid #ccc">
        <div class="container">
          <h1>Choose a username</h1>
          <label for="username"><b>username</b></label>
          <input type="text" placeholder="Enter Username" name="username" required>
          <div class="clearfix">
         <button type="submit" class="submit">Submit</button>
          </div>
        </div>
      </form> 
</body>
</html>