<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Title Of Forum</a>
            </div>
            <ul class="navbar-nav">
                <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <form action="/login" method="POST">
                        <p>Already registered?</p>
                        <button type="submit" class="loginbtn">Log in</button>
                    </form> 
                </li>
                <li class="nav-item">
                    <form action="/signup">
                        <p>Haven't registered?</p>
                        <button type="submit" class="signupbtn">Sign Up</button>
                    </form>
                </li>
            </ul>
        </div>
    </nav> 

    <div class="container">
        <form role="form" method="POST" action="/filter">
          <div class="form-group">
            <label for="cars">filter by thread:</label>
            <select id="thread" name="thread" required>
              <option value="none">None</option>
              <option value="general">General</option>
              <option value="cars">Cars</option>
              <option value="moto">Moto</option>
              <option value="offtop">Offtop</option>
            </select>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-default">Submit</button>
          </div>
      
        </form>
      </div>
      {{range .Posts}}
      <div class="row no-gutters">
        <div class="post post-header col-2">
          <div class="">
            <p>{{ .Author}}</p>
          </div>
        </div>
        <div class="post col-10">
          <div class="container-fluid my-3 p-3 border">
            <div class="content">
              {{if .Id}}
              <p class="">{{.Content}}</p>
              <a href="/view?id={{.Id}}">View Comments</a>
              {{end}}
            </div>
            <div class="bot-line d-flex justify-content-end">

              <p>Thread: {{.Thread}}</p>
            </div>
          </div>
        </div>
      </div>
      {{end}}

</body>
</html>
