<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="/css/login.css">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>

        <form action="/AuthoriseLogin"  class="form" method="POST">
          <h2>Log In</h2>
          <label for="usernameL"><b>Username</b></label>
          <div class="text">
            <img src="/img/user.png" height="20px"/>
            <input type="text" placeholder="Enter Username" name="usernameL" id="usernameL" required>
          </div>
          <label for="pswL"><b>Password</b></label>
          <div class="text">
            <img src="/img/password.png" height="20px"/>
            <input type="password" placeholder="Enter Password" name="pswL" id="pswL" required > 
          </div>    
            <input type="submit" value="Log In" id="login"></input>
             <a href="http://localhost:8080/signup">Sign Up Here!</a>
        </form>


</body>
</html>