<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/signUp.css">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <form action="/avatar" class="formSignUp"  method="POST">
          <h2>Sign Up</h2>
          <p class="fillIn">Please fill in this form to create an account.</p>
          <label for="email"><b>E-mail: </b></label>
          <div class="text">
            <img src="/img/email.png" height="12px"/>     
            <input type="email" placeholder="Enter Email" name="email" id="email" required>
          </div>
          <label for="username"><b>Username: </b></label>
          <div class="text">
            <img src="/img/user.png" height="20px"/>       
            <input type="username" placeholder="Choose your username" name="username" id="username" required>
          </div>
          <label for="psw"><b>Password: </b></label>
          <div class="text">
              <img src="/img/password.png" height="20px"/>
              <input type="password" placeholder="Enter Password" name="psw" id="psw" pattern="(?=.[a-z])(?=.*[A-Z]).{6,}" required > 
          </div>
          <p class="pswR">
            Your Password at least have 6 characters, 1 uppercase character and 1 number.</p>
          <p class="policy"> By continuing, you are setting up a 01:Forum account and agree to our user agreement and privacy policy. </p>
          <input type="submit" value="Sign Up" id="signUp"></input>
          <a class="log" href="http://localhost:8080/login">Log In!</a>

    </form>
</body>
</html>